$width-resp: 100%;
$width-xl: 1440px;
$white: #ffffff;
$DarkShade50: #1f2041;
$Purple: #bc9cff;

%afterbefore {
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  content: " ";
}

body {
  margin: 0 auto;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.hidden {
  display: none;
}

.button {
  border: none;
  border-radius: 22px;
  background: none;
  padding: 0 20px;
  height: 34px;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80.55%;
}

.page-header {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: $white;
  width: $width-resp;

  &__item {
    display: flex;
  }
}

nav {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.page-navigation {
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 44.97%;

  li {
    list-style: none;

    a {
      text-decoration: none;
      line-height: 17px;
      color: $DarkShade50;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
    }
  }
}

.user-navigation {
  li {
    list-style: none;

    button {
      margin-left: 20px;
      line-height: 15px;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
    }
  }
}

.authorization {
  .authorization__button {
    border: 2px solid $Purple;
    background: $white;
    color: $Purple;
  }
}

.registration {
  .registration__button {
    background: linear-gradient(180deg, $Purple 0%, #8ba4f9 100%);
    color: $white;
    // border: 2px solid  $Purple;
  }
}

.home-page {
  background-color: #E5E5E5;
  background-image: url("/img/image3.png");
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
}

.service__link {
  &::after {
    background-image: url("/img/expand_more.png");
    width: 24px;
    height: 21px;
  }
}

.indenture__link {
  &::after {
    background-image: url("/img/expand_more.png");
    width: 24px;
    height: 21px;
  }
}

.block {
  li {
    list-style: none;

    a {
      text-decoration: none;
    }
  }
}

footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
